<template lang="pug">
v-card
  v-card-title {{ ship.name }}

  v-card-subtitle {{ ship.description}}

  v-card-text
    PriceComponent(v-bind:amount="ship.purchasePrice", v-bind:affordable="affordable")

    v-expand-transition(v-show="details")
      v-list.mt-3
        v-list-item
          v-list-item-title Frame
          v-list-item-subtitle {{ ship.frame.name }}
        v-list-item
          v-list-item-title Reactor
          v-list-item-subtitle {{ ship.reactor.name }}
        v-list-item
          v-list-item-title Engine
          v-list-item-subtitle {{ ship.engine.name }}
  v-card-actions
    v-btn(color="secondary", v-on:click="details=!details") details

    v-spacer

    v-btn(color="primary", v-bind:disabled="!affordable || loading", v-on:click="buyShip()") 
      v-icon(left) mdi-currency-usd
      | buy
  v-progress-linear(color="primary", indeterminate, v-show="loading")

</template>
<script setup lang="ts">
import type PurchasableShip from '@/interfaces/ship/PurchasableShip';
import PriceComponent from '../PriceComponent.vue';
import { computed } from '@vue/reactivity';
import { useStore } from 'vuex';
import { ref } from 'vue';
import ShipyardService from '@/classes/ShipyardService';
import type Shipyard from '@/interfaces/Shipyard';

const store = useStore();
const props = defineProps<{
  ship: PurchasableShip,
  shipyard: Shipyard
}>()

const details = ref<boolean>(false);
const loading = ref<boolean>(false);

const affordable = computed(() => store.state.companyData.credits >= props.ship.purchasePrice);

async function buyShip() {
  loading.value = true;
  await ShipyardService.buyShip(props.shipyard, props.ship.type);
  loading.value = false;
}
</script>
