<template lang="pug">
v-sheet(max-width="1000")
  PurchasableShipCardComponent(
    v-for="ship in availableShips", 
    v-bind:ship="ship", 
    v-bind:shipyard="shipyard"
  ).ma-3
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import ShipyardService from '@/classes/ShipyardService';
import PurchasableShipCardComponent from "@/components/ships/PurchasableShipCardComponent.vue";
import type PurchasableShip from '@/interfaces/ship/PurchasableShip';
import type Shipyard from "@/interfaces/Shipyard";

let availableShips = ref<PurchasableShip[]>([])
let shipyard = ref<Shipyard>({} as Shipyard)

onMounted(async () => {
  const systemId = useRoute().params.systemId as string;
  const waypointId = useRoute().params.waypointId as string;
  availableShips.value = await ShipyardService.getAvailableShips(
    systemId, 
    waypointId
  );

  shipyard.value = await ShipyardService.getShipyard(
    systemId, 
    waypointId
  );
});

</script>
    