<template lang="pug">
v-sheet
  v-progress-circular(
    v-if="systemName === undefined", 
    color="primary", 
    model-value="20", 
    size="64", 
    width="8", 
    indeterminate
  )
  SystemComponent(
    v-else, 
    v-bind:system-name="systemName"
    v-bind:waypoints="systemWaypoints ?? []",
    v-bind:ships="ownedShipsInSystem ?? []"
  )
      
</template>
<script setup lang="ts">
import Universe from "@/classes/Universe";
import { onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import SystemComponent from '@/components/SystemComponent.vue'
import type Waypoint from "@/interfaces/navigation/Waypoint";
import type Ship from "@/interfaces/ship/Ship";
import CompanyService from "@/classes/CompanyService";

let systemName = ref<string>();
let systemWaypoints = ref<Waypoint[]>();
let ownedShipsInSystem = ref<Ship[]>();


onMounted(async () => {
  systemName.value = useRoute().params.id as string;
  systemWaypoints.value = await Universe.getSystemWaypoints(systemName.value);
  ownedShipsInSystem.value = await CompanyService.getShips(systemName.value);
});
</script>
