<template>
  <v-container>
    <v-tabs v-model="tab">
      <v-tab v-bind:value="'ours'">Our Ships</v-tab>
      <v-tab v-bind:value="'all'">Overview</v-tab>
    </v-tabs>
    <v-window v-model="tab">
      <v-window-item v-bind:value="'ours'" v-bind:key="'ours'">
        <ship-locations />
      </v-window-item>
      <v-window-item v-bind:value="'all'" v-bind:key="'all'">
        <systems-overview />
      </v-window-item>
    </v-window>
  </v-container>
</template>
<script setup lang="ts">
import SystemsOverview from "@/components/SystemsOverview.vue";
import ShipLocations from "@/components/ShipLocations.vue";
import {ref} from "vue";

let tab = ref<string>();
</script>