<template lang="pug">
span
  span price:
  v-chip(v-bind:color="affordable ? `success` : `error`").ml-3 {{ amount }}
</template>
<script setup lang="ts">
import { computed } from '@vue/reactivity';
const props = defineProps<{
  amount: number,
  affordable: boolean
}>()
</script>
