<template>
  <v-container>
    <v-card>
      <v-list>
        <v-list-item v-for="ship in ships">
          <v-list-item-title>
            <router-link v-bind:to="'/systems/'+ship.nav.systemSymbol">{{ship.nav.systemSymbol}}</router-link>
            {{ship.symbol}}
          </v-list-item-title>
          <v-list-item-subtitle class="text-right">
            <v-chip-group>
              <v-chip prepend-icon="mdi-map-marker">{{ship.nav.waypointSymbol}}</v-chip>
              <v-chip prepend-icon="mdi-traffic-light">{{ship.nav.status}}</v-chip>
              <v-chip prepend-icon="mdi-airplane-takeoff">{{ship.nav.flightMode}}</v-chip>
            </v-chip-group>
            <v-sheet>
              <v-expansion-panels>
                <v-expansion-panel>
                  <v-expansion-panel-title>
                    <template v-slot:default="{ expanded }">
                      <v-icon>mdi-routes</v-icon>
                      <router-link v-bind:to="'/systems/'+ship.nav.route.destination.systemSymbol">{{ship.nav.route.destination.systemSymbol}}</router-link>
                      <v-spacer />
                      {{ship.nav.route.destination.symbol}}
                    </template>
                  </v-expansion-panel-title>
                  <v-expansion-panel-text>
                    <v-list condensed>
                      <v-list-subheader>
                        Departure
                        <router-link v-bind:to="'/systems/'+ship.nav.route.departure.systemSymbol">
                          {{ship.nav.route.departure.systemSymbol}}
                        </router-link>
                      </v-list-subheader>
                      <v-list-item>
                        <v-chip prepend-icon="mdi-clock">
                          {{getDisplayDate(ship.nav.route.departureTime)}}
                        </v-chip>
                      </v-list-item>
                      <waypoint-list-element-component v-bind:map-item="createMapEntry(ship.nav.route.departure)" />
                      <v-list-subheader>
                        Destination
                        <router-link v-bind:to="'/systems/'+ship.nav.route.destination.systemSymbol">
                          {{ship.nav.route.destination.systemSymbol}}
                        </router-link>
                      </v-list-subheader>
                      <v-list-item>
                        <v-chip prepend-icon="mdi-clock">
                          {{getDisplayDate(ship.nav.route.arrival)}}
                        </v-chip>
                      </v-list-item>
                      <waypoint-list-element-component v-bind:map-item="createMapEntry(ship.nav.route.destination)" />
                    </v-list>
                  </v-expansion-panel-text>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-sheet>
            <v-divider />
          </v-list-item-subtitle>
        </v-list-item>
      </v-list>
    </v-card>
  </v-container>
</template>
<script setup lang="ts">
import Ship from "@/interfaces/ship/Ship";
import CompanyService from "@/classes/CompanyService";
import MapService from "@/classes/MapService";
import Waypoint from "@/interfaces/navigation/Waypoint";
import MapItem from "@/interfaces/map/MapItem";
import WaypointListElementComponent from "@/components/WaypointListElementComponent.vue";
import { onMounted, ref } from "vue";

let ships = ref<Ship[]>();

onMounted(async () => {
  ships.value = await loadShips();
});

function createMapEntry(waypoint: Waypoint): MapItem {
  return MapService.createMapEntry(waypoint);
}

function getDisplayDate(isoDate: string): string {
  const date: Date = new Date(isoDate);
  return date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate() + " "
      + date.getHours() + ":" + date.getMinutes();
}

async function loadShips(): Promise<Ship[]> {
  return await CompanyService.getShips();
}
</script>