<template>
  <v-container>
    <v-card>
      <v-list>
        <v-list-item v-for="system in systems">
          <v-list-item-title>
            <router-link v-bind:to="'/systems/'+system.symbol">{{system.symbol}}</router-link>
            <v-chip class="ml-2 float-right"><v-icon>mdi-map</v-icon>{{system.sectorSymbol}}</v-chip>
            <v-chip class="ml-2 float-right"><v-icon>mdi-information-outline</v-icon>{{system.type}}</v-chip>
            <v-chip class="ml-2 float-right"><v-icon>mdi-map-marker</v-icon>{{system.waypoints.length}}</v-chip>
          </v-list-item-title>
          <v-list-item-subtitle class="text-right">
            <v-chip class="mt-2 mb-2 ml-2" v-for="(opportunity, count) in systemOpportunities(system)">
              <v-icon>mdi-tag</v-icon> {{opportunity}} {{count}}
            </v-chip>
            <v-divider />
          </v-list-item-subtitle>
        </v-list-item>
      </v-list>
      <v-container class="text-center">
        <v-btn v-on:click="loadMoreSystems" icon><v-icon>mdi-refresh</v-icon></v-btn>
      </v-container>
    </v-card>
  </v-container>
</template>
<script setup lang="ts">
import Universe from "@/classes/Universe";
import CompanyService from "@/classes/CompanyService";
import { onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import System from "@/interfaces/System";
import SystemWaypoint from "@/interfaces/SystemWaypoint";

let systems = ref<System[]>();
let page = ref<number>();
let limit = ref<number>();
let maxPage = ref<number>();
let maxPageReached = ref<boolean>();

onMounted(async () => {
  systems.value = await loadSystems();
});

async function loadMoreSystems(): Promise<void> {
  if (!systems.value) {
    systems.value = [];
  }
  systems.value.push(...await loadSystems());
}

function systemOpportunities(system: System): any {
  let waypointTypes: any = {};
  system.waypoints.forEach(waypoint => {
    waypointTypes[waypoint.type] = waypointTypes[waypoint.type] ? waypointTypes[waypoint.type]+1 : 1;
  });
  return waypointTypes;
}

async function loadSystems(): Promise<System[]> {
  if (!page.value) {
    page.value = 1;
  }
  const myShips: any[] = await CompanyService.getShips();
  const answer: any = await Universe.getSystems(page.value, limit.value);
  maxPage.value = Math.ceil(answer.meta.total / answer.meta.page);
  if (page.value < maxPage.value) {
    page.value = page.value + 1;
    maxPageReached.value = false;
  } else {
    maxPageReached.value = true;
  }
  return answer.data;
}
</script>