<template lang="pug">
v-card(color="white", elevation="0").pt-5.ma-5
  v-card-title {{systemName}}
  v-card-text
    v-sheet.map-sheet(
      v-bind:width="(mapBoundingBox.x2 - mapBoundingBox.x1) * zoomlevel + border",
      v-bind:height="(mapBoundingBox.y2 - mapBoundingBox.y1) * zoomlevel + border",
      elevation="2",
      v-on:wheel.prevent="zoom"
    ).pa-3
      v-btn.map-item(
        v-for="mapEntry, id in map"
        v-bind:style="`position: relative; top: ${relative(mapEntry.x, mapEntry.y, zoomlevel).y}px; left: ${relative(mapEntry.x, mapEntry.y, zoomlevel).x}px`"
        v-bind:color="mapEntry.owned ? `success` : `primary`"
        v-bind:id="`button-${id}`"
        v-bind:icon="MapService.getMapIcon(mapEntry.type)", 
        size="small", 
        variant="text"
      )
    v-menu(
      v-bind:activator="`#button-${id}`"
      v-for="mapEntry, id in map"
      location="end"
    )
      waypoint-list-component(v-bind:items="mapEntry.items")
    
</template>

<script setup lang="ts">
import { computed } from 'vue';
import WaypointListComponent from './WaypointListComponent.vue';
import type Waypoint from '../interfaces/navigation/Waypoint';
import type Ship from '@/interfaces/ship/Ship';
import type MapPosition from '@/interfaces/map/MapPosition';
import type MapItem from '@/interfaces/map/MapItem';
import type Action from '@/interfaces/map/Action';
import type { Router } from 'vue-router';
import MapService from "@/classes/MapService";
import { ref } from 'vue';


const props = defineProps<{
  waypoints: Waypoint[],
  ships: Ship[],
  systemName: string
}>()

const icons: Record<string, string> = MapService.getIcons();
let zoomlevel = ref(4);
const border: number = 60;

const mapBoundingBox = computed(() => {
  if (props.waypoints.length == 0) {
    return {
      x1: 0,
      x2: 0,
      y1: 0,
      y2: 0   
    }
  }
  const lowX = props.waypoints.reduce((previous: Waypoint, current: Waypoint) => {
    return previous.x < current.x ? previous : current;
  }).x;
  const lowY = props.waypoints.reduce((previous: Waypoint, current: Waypoint) => {
    return previous.y < current.y ? previous : current;
  }).y;
  const highX = props.waypoints.reduce((previous: Waypoint, current: Waypoint) => {
    return previous.x > current.x ? previous : current;
  }).x;
  const highY = props.waypoints.reduce((previous: Waypoint, current: Waypoint) => {
    return previous.y > current.y ? previous : current;
  }).y;

  return {
    x1: lowX,
    x2: highX,
    y1: lowY,
    y2: highY
  }
});

const map = computed(() => {

  let map: MapPosition[] = [];

  addWaypoints(map);
  addShips(map);

  return map;
});

function addWaypoints(map: MapPosition[]) {
  props.waypoints.forEach(waypoint => {
    const entry = MapService.createMapEntry(waypoint);
    const existingEntry = MapService.getExistingEntry(map, waypoint);

    if (existingEntry === undefined) {
      map.push(MapService.createMapPosition(entry, false));
    } else {
      existingEntry.type = "MULTIPLE";
      existingEntry.items.push(entry);
    }
  })
}

function addShips(map: MapPosition[]) {
  props.ships.forEach(ship => {
    let entry = MapService.createMapEntry(ship.nav.route.departure, true);

    entry.name = ship.symbol;
    entry.type = ship.frame.symbol;

    const existingEntry = MapService.getExistingEntry(map, entry.waypoint);

    if (existingEntry === undefined) {
      map.push(MapService.createMapPosition(entry, true));
    } else {
      existingEntry.type = "MULTIPLE";
      existingEntry.items.push(entry);
      existingEntry.owned = true;
    }
  });
}

function relative(coordinateX: number, coordinateY: number, zoom = 4) {

  return {
    x: coordinateX * zoom - mapBoundingBox.value.x1 * zoom,
    y: coordinateY * zoom - mapBoundingBox.value.y1 * zoom
  };
}


function zoom(event: WheelEvent) {
  zoomlevel.value += 0.5 * -(event.deltaY / Math.abs(event.deltaY));

  if (zoomlevel.value < 1) {
    zoomlevel.value = 1;
  }
}

</script>
<style>
.map-sheet {
  display: grid;
}
.map-item {
  grid-column: 1;
  grid-row: 1;
}
</style>
