<template lang="pug">
v-list
  WaypointListElementComponent(v-for="item in items", v-bind:mapItem="item")
  v-list-item
    v-card
      v-card-subtitle Position ({{items[0].waypoint.x}}:{{items[0].waypoint.y}})
</template>
<script setup lang="ts">
import type MapItem from '@/interfaces/map/MapItem';
import WaypointListElementComponent from './WaypointListElementComponent.vue';

const props = defineProps<{
  items: (MapItem)[]
}>()
</script>
