<template lang="pug">
v-list-item 
  v-card(elevation="0")
    v-card-title(v-bind:class="mapItem.owned ? 'text-success' : 'text-primary'") {{ mapItem.name }}
    v-card-subtitle {{ mapItem.type }}
    v-card-text
      span(
        v-for="trait in mapItem.traits"
      )
        v-chip(
        ).ma-1 {{ trait.name }}
        v-tooltip(
          activator="parent"
          location="bottom"
        ) {{ trait.description }}
    v-card-actions(v-if="mapItem.actions.length > 0")
      v-btn(
        v-for="action in mapItem.actions" 
        v-on:click="action.act(mapItem.waypoint, $router)"
        color="primary"
        variant="elevated"
        elevation="2"
      ) {{ action.name }}
  v-divider
</template>
<script setup lang="ts">
import type MapItem from '@/interfaces/map/MapItem';

const props = defineProps<{
  mapItem: MapItem
}>()

</script>
