<template lang="pug">
v-app
  v-app-bar(color="primary")
    v-app-bar-title.flex-0-0.mr-3 {{$store.state.companyData.symbol}}
    v-chip {{$store.state.companyData.startingFaction}}
    v-spacer
    span.mr-5 {{$store.state.companyData.credits + ' credits'}} 
  v-main
    router-view
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'App'
})
</script>
